body {
  background-color: #111;
  color: white;
  font-family: Arial;
}

.contenedor {
  padding: 30px;
}

h1 {
  margin-bottom: 10px;
  color: #1e90ff;
}

p {
  margin-bottom: 20px;
}

.tabla-container {
  background-color: #1c1c1c;
  padding: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  background-color: #1e90ff;
  padding: 10px;
}

td {
  padding: 10px;
  border-bottom: 1px solid #333;
}