/* Fondo general */
body {
  background-color: #0f0f0f;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

/* Contenedor principal */
.contenedor {
  padding: 40px;
}

/* Título */
h1 {
  color: #1e90ff;
  margin-bottom: 30px;
}

/* Caja del formulario */
.formulario {
  background-color: #1c1c1c;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  margin-bottom: 40px;
}

/* Inputs */
input {
  width: 100%;
  padding: 8px;
  margin-bottom: 12px;
  border-radius: 5px;
  border: none;
}

/* Botón */
button {
  width: 100%;
  padding: 10px;
  background-color: #1e90ff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Efecto cuando pasas el mouse */
button:hover {
  background-color: #0d6efd;
}

/* Tabla */
table {
  width: 100%;
  border-collapse: collapse;
  background-color: #1c1c1c;
}

th {
  background-color: #1e90ff;
  padding: 10px;
}

td {
  padding: 10px;
  border-bottom: 1px solid #333;
}